<h1>lo que sea</h1>

<form action="" class="formnumber">
  <input type="number" class="form-imput" [(ngModel)]="num1" placeholder="ingrese su primer numero" name="firstNumber">
  <input type="number" class="form-imput"  [(ngModel)]="num2" placeholder="ingrese su segundo numero" name="secondNumber">
  <select name="operaciones" [(ngModel)]="selectValue"> 
    <option value="+">SUMA</option>
    <option value="-">RESTA</option>
    <option value="*">MULTIPLICACION</option>
    <option value="/">DIVISION</option>
  </select>
  <input type="button" class="myButton" value="calcular" (click)="calculate()">
  <div>{{resultado}}</div>
</form>

